$navbar-default-bg: #1a71b8;
$navbar-default-font: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

nav .navbar-nav li a{
  color: white !important;
}

#logo {
  font: 2em;
  color: #fff;
}

.jumbotron {
  padding-top: 150px;
  color: #fff;
  text-align: center;
  background-image: asset-url('blog_back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.btn-xlarge {
  margin: 45px;
  padding: 15px 25px 15px;
  background-color: #1a71b8;
}

.article-action {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.article-btn {
  margin-right: 3px;
}

.heading {
  text-align: center;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #ccc;
  color: #aaa;
  font-size: 14px;
  padding: 10px 0 10px;
}

footer a:hover {
  color: #888;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}
